body {
  margin: 0;
  overflow-x: hidden;
}

.rectangle-2 {
  position: absolute;
  width: 100%;
  height: 815px;
  top: 59px;

  background: #FFB800;
}

.rectangle-7 {
  position: absolute;
  width: 810px;
  height: 794px;
  left: -461.04px;
  top: 297px;

  background: #000000;
  transform: rotate(30.33deg);
}

.rectangle-22 {
  position: absolute;
  width: 1524px;
  height: 167.31px;
  left: -109.22px;
  top: 4101.27px;
  z-index: 1;

  background: #FFB800;
  transform: rotate(-5deg);

  font-family: Anton;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 88px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;

}

.contactme {
  position: absolute;
  width: 100%;
  height: 1766px;
  top: 4175px;

  background: #2A2A2A;
}

.footer {
  position: absolute;
  width: 100%;
  height: 59px;
  top: 5941px;

  background: #FFB800;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}